.cardContainer{
    display: flex;
    flex-direction: column;
    background-color: #00BDAB;
    border: 1PX solid grey;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    
}
.cardContainer img {
    width: 100px;
}

.cardContainer:hover{
    transform:scale(1.05);
}